{% extends './base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'posts:index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
            </nav>
            <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
            {{ post.content|safe }}
            </p>
            <hr>
            <p class="lead text-right">Автор: {{ post.author }}</p>
            <hr>
            <p class="text-right">Опубликовано {{ post.pub_date }}</p>
            <hr>
            {% include 'includes/comments.html' %}
        </div>
        {% include 'includes/aside.html' %}
    </div>
</div>
{% endblock %}